/* azulescuro.css */

:root {
    --color-header-background: #0C2D4C;
    --color-header-link: #FFFFFF;
    --color-titulo: #00488b;
    --color-subTitulo: #000;
    --color-descricao: #66aff3;
    --color-botaoTitulo: #fff;
    --color-botaoTitulo-background: #4E73DF;
    --color-botaoTitulo-border: #4E73DF;
    --color-header: #ffffff;
    --color-header-background: #0C2D4C;
    --color-headerTitulo: #ffffff;
    --color-botaoHeader: #0C2D4C;
    --color-produtosCards-background: #c5c5c5;
    --color-produtosCards-border: 1px solid #000;
    --color-footer: #ffffff;
    --color-footer-background: #0C2D4C;
    --color-sliderP: #1B4D60;
    --color-slider-background: #bdbdbd;
    --color-prev-next: #fff;
    --color-filiais-background: #81a1ff;
}