/* main.css */

/* CABECALHO */
.navbar {
    background-color: var(--color-header-background) !important;
}

.nav-link {
    color: var(--color-header-link) !important;
}

/* CABECALHO */
.mobile-conteudo {
    display: none;
}

/* novas classes */
.ts-textoCentro {
    text-align: center;
}

.ts-titulo {
    font-size: 60px;
}

.ts-textoCentro .ts-titulo {
    font-size: 60px;
    text-align: center;
}

.ts-subTitulo {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 40ch;
}

.ts-textoCentro .ts-subTitulo {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 40ch;
    text-align: center;
    margin: 0 auto;
}

.ts-descricao {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 35ch;
    text-align: center;
}


.ts-botaoTitulo {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ts-header {
    height: 40px;
    display: flex;
    align-items: center;
}

.ts-headerTitulo {
    font-size: 20px;
}

.ts-produtosCards {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.ts-produtosCards .col {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.ts-produtoIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ts-produtoDescricao {
    word-wrap: break-word;
    font-size: 15px;
    width: 20ch;
    max-width: 20ch;
    height: 5ch;
    text-align: center;
}


.ts-textoIcon {
    width: 400px;
    height: 400px;
}

.ts-video {
    width: 600px;
    height: 400px;
}

.ts-videoContato {
    width: 500px;
    height: 300px;
}

.ts-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.ts-footer {
    height: 250px;
    max-height: 300px;
    display: flex;
    justify-content: center;
}

.ts-tituloParametro {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.ts-inputParametro {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.ts-socialParametro {
    text-align: center;
}

.ts-socialParametro a {
    margin-left: 5px;
    margin-right: 5px;
}


.ts-sliderP {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.ts-sliderIcon {
    min-width: 200px;
    min-height: 200px;
    min-width: 400px;
    min-height: 400px;
    border-radius: 15px;

}

.ts-slider {
    height: 65vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ts-prev,
.ts-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.ts-prev {
    left: 0;
}

.ts-next {
    right: 0;
}

.carousel {
    width: 100%;
}

.ts-contatoFormCol {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ts-contatoForm {
    width: 70%;
}

.ts-contatoForm button {
    display: block;
    margin-left: auto;
}