/* main.css */

/* CABECALHO */
.navbar {
    background-color: var(--color-header-background) !important;
}

.nav-link {
    color: var(--color-header-link) !important;
}

/* CABECALHO */
.mobile-conteudo {
    display: none;
}

/* TAB VISUALIZAR  */
.line {
    width: 100%;
    border-bottom: 1px solid #707070;
}

#ts-tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    border-radius: 3px 3px 0 0;
    color: #567381;
}

#ts-tabs .whiteborder {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
    color: var(--color-botaoTitulo) !important;
    background-color: var(--color-botaoTitulo-background) !important;
    border-color: var(--color-botaoTitulo-border) !important;
}

#ts-tabs .tabContent {
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    color: black;
}

#ts-tabs .hide {
    display: none;
}

#ts-tabs .show {
    display: block;
}

/* fim- TAB VISUALIZAR */

/* novas classes */
.ts-textoCentro {
    text-align: center;
}

.ts-titulo {
    font-size: 60px;
    color: var(--color-titulo) !important;
}

.ts-textoCentro .ts-titulo {
    font-size: 60px;
    text-align: center;
}

.ts-subTitulo {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 40ch;
    color: var(--color-subTitulo) !important;
}

.ts-textoCentro .ts-subTitulo {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 40ch;
    text-align: center;
    margin: 0 auto;
}

.ts-descricao {
    word-wrap: break-word;
    font-size: 30px;
    max-width: 35ch;
    text-align: center;
    color: var(--color-descricao) !important;
}


.ts-botaoTitulo {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: var(--color-botaoTitulo) !important;
    background-color: var(--color-botaoTitulo-background) !important;
    border-color: var(--color-botaoTitulo-border) !important;
}

.ts-header {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--color-header-background) !important;
}

.ts-headerTexto {
    height: 30px;
    background-color: var(--color-header-background) !important;
    color: var(--color-header) !important;
}


.ts-headerTitulo {
    font-size: 20px;
    color: var(--color-headerTitulo) !important;
}

.ts-produtosCards {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.ts-produtosCards .col {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-produtosCards-background) !important;
    border: var(--color-produtosCards-border) !important;
}

.ts-produtoIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ts-clienteIcon {
    margin-top: 30px;
    width: 200px;
    height: 120px;
}

.ts-produtoDescricao {
    word-wrap: break-word;
    font-size: 15px;
    width: 20ch;
    max-width: 20ch;
    height: 5ch;
    text-align: center;
}


.ts-textoIcon {
    width: 400px;
    height: 400px;
}

.ts-video {
    width: 600px;
    height: 400px;
}

.ts-videoContato {
    width: 500px;
    height: 300px;
}

.ts-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.ts-footer {
    min-height: 200px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    color: var(--color-footer) !important;
    background-color: var(--color-footer-background) !important;
}

.ts-tituloParametro {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.ts-inputParametro {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.ts-socialParametro {
    text-align: center;
}

.ts-socialParametro a {
    margin-left: 5px;
    margin-right: 5px;
}


.ts-sliderP {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--color-sliderP) !important;
}

.ts-sliderIcon {
    min-height: 200px;
    max-height: 300px;
    border-radius: 15px;

}

.ts-slider {
    height: 65vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--color-slider-background) !important;
}

.ts-prev,
.ts-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    color: var(--color-prev-next) !important;
}

.ts-prev {
    left: 0;
}

.ts-next {
    right: 0;
}

.carousel {
    width: 100%;
}

.ts-contatoFormCol {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ts-contatoForm70 {
    width: 70%;
}

.ts-contatoForm40 {
    width: 40%;
}

.ts-contatoFormCol button {
    display: block;
    margin-left: auto;
}

.ts-sobreTitulo {
    font-size: 40px;
    line-height: 49px;
    line-height: 43px;
    color: var(--color-botaoTitulo) !important;
    background-color: var(--color-botaoTitulo-background) !important;
    width: 500px;
    padding: 10px 20px;
}

.ts-sobreSubTitulo {
    font-size: 40.8px;
    line-height: 49.3px;
    font-weight: 600;
}

.ts-sobreDescricao {
    font-weight: 400;
}

.ts-filiais {
    background-color: var(--color-filiais-background) !important;
}